<!DOCTYPE html>
<html>
<head>
    <title>GO MIND FLASKAPP</title>
</head>
<body>
    <h1>GO MIND FLASKAPP</h1>

    <form action="/" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="college">College:</label>
        <input type="text" id="college" name="college" required><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br>

        <input type="submit" value="Submit">
    </form>

    
</body>
</html>
